<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.store.mybatis.mapper.CancelOrderStateMapper">
    <select id="getOrderStateFromOrderid" resultType="CancelOrderState">
        select * from CancelOrderState where orderid = #{orderid}
    </select>
    <insert id="createNewOrderState">
        insert into CancelOrderState values (#{orderId}, #{stateChangeDate}, #{orderState}, #{userId})
    </insert>
    <delete id="deleteOrderState">
        delete from CancelOrderState where orderid = #{orderid}
    </delete>
    <select id="getOrderStateListFromUserid" resultType="CancelOrderState">
        select * from CancelOrderState where userid = #{userId}
    </select>
    <select id="countOrderState" resultType="int">
        select count(*) from CancelOrderState where orderState = #{state} and userid = #{userid}
    </select>
</mapper>