<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.store.mybatis.mapper.state.ExchangeOrderStateMapper">
    <select id="getOrderStateFromOrderid" resultType="ExchangeOrderState">
        select * from ExchangeOrderState where orderid = #{orderid}
    </select>
    <insert id="createNewOrderState">
        insert into ExchangeOrderState values (#{orderId}, #{stateChangeDate}, #{orderState}, #{userId})
    </insert>
    <delete id="deleteOrderState">
        delete from ExchangeOrderState where orderid = #{orderid}
    </delete>
    <select id="getOrderStateListFromUserid" resultType="ExchangeOrderState">
        select * from ExchangeOrderState where userid = #{userId}
    </select>
    <select id="countOrderState" resultType="int">
        select count(*) from ExchangeOrderState where orderState = #{state} and userid = #{userid}
    </select>
    <select id="getSpecificOrderStateList" resultType="ExchangeOrderState">
        select * from ExchangeOrderState where orderState = #{state} and userid = #{userid}
    </select>
</mapper>